{{!-- bootstrap --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/de13f0750c.js" crossorigin="anonymous"></script>
    {{!-- CSS personal --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- Bootstrap theme --}}
    <link rel="stylesheet" href="/src/public/css/bootstrap.css">
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Introduce tu nombre" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lname" placeholder="Introduce tu apellido"value="{{lname}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Introduce tu email"value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Introduce tu contraseña"value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Introduce de nuevo tu contraseña"value="{{confirm_password}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            SignUp
                        </button>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>